
/* ======================
   Components（元件）
   說明：有語意/樣式的區塊與元素（quote、footer、breadcrumb、btn…）
   ====================== */

/*padg*/
.eng-title{
  font-size: 28px;

}
.quote{
  border-radius: 12px;/* 圓角 */
  text-align: center;
  max-width: 856px;    /* 限制最大寬度 */
  margin: 0 auto;      /* 水平置中 */
  padding: 48px 32px;  /* 上下推 48px，左右推 32px */
  min-height: 180px;
}
.section-lined{
  border-bottom: 1px solid $nautral-300;
  padding-bottom: 48px;
  max-width: 856px;   /* 區塊閱讀寬度，可依需求調整 */
  margin: 0 auto;  
}

.history{
 border-left: 1px solid $nautral-900;
 padding-left:8px;
}
.history-list{
  list-style-type: disc; /* 使用圓點列表 */
  padding-left: 24px; /* 調整列表項目的左側間距 */
}
.concept-item{
  border-left: 3px solid $nautral-300;
  padding-left: 12px;
}
.border-underline{
  border-bottom: 1px solid $nautral-300;
  padding-bottom: 8px;
}
.bi {
   padding-right: 8px;/* 調整圖示與文字之間的間距 */
   vertical-align: bottom; /* 確保圖示與文字對齊 */
}
.bg-100{
  background-color: $nautral-100;
  height: 174px;
}


.footer-page {
  align-items: center;     /* 垂直置中 */
  padding: 16px 0;         /* 上下內距 */
  justify-content: space-between;
  border-bottom: 1px solid #DEE2E6;
  
}

.nav-links {
  display: flex;
  gap: 40px; /* 或用 ml-40 讓兩個連結間距拉開 */
}


.btn{
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border-style: none;
  background-color:transparent;
}
.active{
  background-color: #C0FA73
  
}
.footer .btn {
  width: 115px;
  height: 48px;
  background: $nautral-900;
  color: $nautral-100;
  padding: 12px 24px ;
}

@media (max-width: 576px) {
  .btn{
    padding: 8px 16px;
  }
  
}
.btn-light{
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $nautral-900;
}
.btn-dark{
    color: $background-color;
    background-color: $nautral-900;
    border: 1px solid $nautral-900;
}