/* 元件 SCSS */
.breadcrumb-item + .breadcrumb-item::before {
content:'/'; 
padding:0 12px;
color: $nautral-300;
font-weight: 700;
}
.breadcrumb-item{
  display:flex;
  font-weight: 500;
}
.breadcrumb-link{
  color: $nautral-600;
}

@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px; /* 調整間距 */
  }
  .breadcrumb-item{
    font-size: 14px;
  }
}
