
    /* 標籤基本樣式 */
  /* 確保所有元素的寬高計算方式一致 */
*, *::before, *::after {
  box-sizing: border-box;
}


body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 設定行高150 */
  letter-spacing: 0.05em; /* 設定字母間距 */
  color:$nautral-900;
}

.hero-header {
  color: rgb(255, 255, 255); /* 渐變色 */
  background-image: url("hero.png");
  background-repeat: no-repeat;/* 不重複背景圖片 */
  background-position: center center;
  background-size: cover; /* 設定背景圖片尺寸 */
}

.hero-opacity {
  text-align: center;
  padding-top: 151px;
  padding-bottom: 151px;
  background-position: center center;
  background-color: rgba(47, 47, 47, 0.048);

}
img{
  vertical-align: middle; /* 圖片垂直對齊 */
  max-width: 100%;
  height: auto;
}

p{
  font-size: 16px;
}
a{
   text-decoration: none;
   display: block;
   color: $nautral-900; /* 使用變數設定文字顏色 */
}   
