.footer{
  text-align: center;
  background-color: #e8fec5;
  height: 96px;
  justify-content: center;  
  align-items: center;  
}
.footer-gray {
  background-color: #F8F9FA;
}
.page .btn{
  padding: 8px 15px;
  border-radius: 0;
  font-weight: 500;
}
.footer .btn {
  width: 115px;
  height: 48px;
  background: $nautral-900;
  color: $nautral-100;
  padding: 12px 24px ;
}
.nav-links {
  display: flex;
  gap: 40px; /* 或用 ml-40 讓兩個連結間距拉開 */
}
.copyright{
  text-align: center;   /* 讓裡面的兩行文字水平置中 */
  padding-top:32px;
  border-top:1px solid $nautral-300;
  align-items: center; /* 垂直置中 */
  color: $nautral-600;
  font-size: 14px;
  width: 100%;   
}
