 <!-- register -->
        <div class=" footer d-flex justify-center align-center  ">
         <p class="h4 h5-sm me-24 me-sm-16">加入會員取得 9 折優惠</p>
         <button type="button" class="btn ml-24">馬上註冊</button>
        </div>
      <!-- footer -->
        <footer class="footer-gray py-64 py-sm-32">
        <div class="container ">
          <nav class="d-flex align-center justify-between d-sm-block mb-24  ">
             <a href="#" class="mb-sm-8">
               <img src="/assets/images/logo.svg" alt="logo">
            </a>
           <ul class="d-flex d-sm-block px-sm-12">
        <li class="nav-links me-40 me-sm-0 mb-sm-4">
          <a href="Products.html" class="md py-12">商品列表</a>
        </li>
        <li class="nav-links">
          <a href="story.html" class="md py-12">品牌故事</a>
        </li>
      </ul>
    </nav>
     </div>
   
  <div class="copyright py-24 py-64">
    <p class="mb-4 text-sm">Copyright ©2025 URBNSTYLE</p>
    <p class="text-sm">All Rights Reserved.</p>
  </div>
   
  </footer>