/* 顏色 */
    $secondary-color: #F5FEE7; /* 次色 */
    $primary-200: #E8fec5; /* 主色20% */
    $primary-300: #c0fa73; /* 主色30% */
    $primary-400: #57A203; /* 主色40 */
    $primary-500: #477a11; /* 主色50% */
    $background-color: #ffffff; /* 背景顏色 */
    $nautral-100: #f8f9fa; /* 中性色100% */
    $nautral-200: #e9ecef; /* 中性色200% */
    $nautral-300: #dee2e6; /* 中性色300% */
    $nautral-400: #ced4da; /* 中性色400% */
    $nautral-500: #adb5bd; /* 中性色500% */
    $nautral-600: #6c757d; /* 中性色600% */
    $nautral-700: #495057; /* 中性色700% */
    $nautral-800: #343a40; /* 中性色800% */
    $nautral-900: #212529; /* 中性色900% */
    $danger-color: #D74F4F; /* 危險色 */
    $text-color: #000000; /* 文字顏色 */
    $footer-background-color: lightgray; /* 頁腳背景顏色 */
    
:root{
    --100-color: #f8f9fa;
    --300-color: #dee2e6;
    --600-color: #6c657d;
    --900-color: #212529;  /* 主色100% */
}